<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/bootstrap.min.css">
    <script src="static/jquery.min.js"></script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <title>Data</title>

</head>

<body class="text-light text-dark">

    <div class="jumbotron">
        <h2> View your files.</h2>
    </div>

    <div class="container" bgcolor="#ffffee">

        <form action="/upload" method="post" enctype="multipart/form-data">
            Upload your local file to Swift server：
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="new_name" name="new_name" placeholder="file's new name">
            </div>
            <div class="input-group mb-3">
                <input id="new_file" name="new_file" type="file" class="file" data-show-preview="false">
                <button type="submit" class="btn btn-success">confirm</button>
            </div>
        </form>

        <HR style="border:1 dashed #d2cdc8" width="100%" color=#987cb9 SIZE=1>

        {% for name, info in name_list %}
        <!--{% if not loop.first %}|{% endif %}-->

        <div class="card bg-info text-white">
            <div class="card-body">
                <h4 class="card-title">{{ name }}</h4>
                <p>{{info}}</p>
            </div>

            <div class="input-group-append" style="WHITE-SPACE:nowrap;">
                <form action="/download" method="post" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" id="key_download{{ loop.index}}"
                        name="key_download{{ loop.index}}" value="{{name}}">
                    <button class="btn btn-success" type="submit">Download</button>
                </form>


                <form action="/geturl" method="post" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" id="key_url{{ loop.index}}"
                        name="key_url{{ loop.index}}" value="{{name}}">
                    <button type="submit" class="btn btn-primary">URL</button>
                </form>

                <form action="/delete" method="post" enctype="multipart/form-data">
                    <input type="hidden" class="form-control" id="key_delete{{ loop.index}}"
                        name="key_delete{{ loop.index}}" value="{{name}}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>


            </div>
            <!-- <p>{{URL}}</p> -->

        </div>
        <br>
        {% endfor %}

        <HR style="border:1 dashed #d2cdc8" width="100%" color=#987cb9 SIZE=1>

        <p>
            Powered By Gray.
        </p>

    </div>


</body>

</html>